<header>
    <div>
        <h2>
        Change the game
        </h2>
        <div id="buttonsImg">
        <button class="btn btn-outline-dark" id="imgGOW3" (click)="functionChangeImgGOW3()">Change God Of War 3</button>
        <button class="btn btn-outline-light" id="imgGOW4" (click)="functionChangeImgGOW4()">Change God Of War 4</button>
        <button class="btn btn-outline-info" id="imgGOWRagna" (click)="functionChangeImgGOWR()">Change God Of War Ragnarok</button>
        </div>
        <div id="imgsButton">
             <img id="foto" [src]= image>
        </div>
    </div>
</header>